@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0px;
  font-family: "Helvetica Now Display";
}

.hovanim {
  @apply transition-all duration-300;
}

.nord {
  font-family: "Nord";
}

.scale__container--js {
  text-align: center;
}
.scale--js {
  display: inline-block;
  transform-origin: 50% 0;
  -webkit-font-smoothing: antialiased;
  transform: translate3d(0, 0, 0);
}

body::before {
  animation: grain 8s steps(10) infinite;
  background-image: url(../images/fuulnoise.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.8;
  position: fixed;
  top: -100%;
  width: 300%;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

.copy-link {
  @apply active:bg-white/60 uppercase p-1 border border-transparent rounded-lg transition-all duration-300 cursor-pointer hover:bg-white/10 hover:border-white;
}

.fvi {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: 0px !important;
}

@layer components {
  .sunrise {
    background: linear-gradient(
      to top,
      #58151a,
      #bc2909,
      #ba6d09,
      #71a8ee,
      #3072eb,
      #1552c6,
      #0542a8
    );
  }

  .sunsets {
    background: linear-gradient(
      to top,
      rgba(4, 3, 8),
      #ad4a28,
      #dd723c,
      #fc7001,
      #dcb697,
      #9ba5ae,
      #3e5879
    );
  }
  .sunset {
    background: linear-gradient(
      to top,
      #040308,
      #ad4a28,
      #dd723c,
      #fc7001,
      #dcb697,
      #9ba5ae,
      #3e5879,
      #020b1a
    );
  }
}

.footer {
  clip-path: inset(0);

  &__inner {
    position: sticky;
    top: 100vh;
    transform: translateY(-100%);
    margin-bottom: -100%;
    width: 100%;
    background: #101010;
    padding: grid(2) grid(3) grid(1) grid(2);
  }
}

.footer-link {
  @apply border-b mb-2 hover:bg-black/5 hover:dark:bg-white/5 transition-all duration-300 cursor-pointer active:bg-black/20 active:dark:bg-white/20 focus:bg-black/10 focus:dark:bg-white/10 dark:border-white border-black w-full text-2xl p-4;
}

.btn {
  @apply py-1 px-4 cursor-pointer mr-4 bg-black dark:bg-white hover:bg-white/60 hover:dark:bg-black/60 hover:dark:text-white hover:text-black transition-all duration-300 dark:text-black rounded-full uppercase text-white text-sm md:text-base;
}

.menulink {
  transition: all 300ms ease-in;
}
.menulink div:hover {
  transition: all 300ms ease-in;
}

.menulink:hover div {
  opacity: 0.2;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 300ms ease-in;
}
.menulink div:hover {
  opacity: 1;
  transition: all 300ms ease-in;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
